:root {
    --primary-color: #2196f3;
    --black-color: #000;
    --dark-grey: #212121;
    --white-color: #fff;
    --light-grey: #757575;
    --navy-blue: #2f303a;
    --black-rock: #2f303a;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

header {
    background-color: var(--white-color);
}

.main-information {
    color: var(--black-color);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 3%;
    text-align: left;
    text-decoration: none;
}

.black-studio {
    color: var(--black-color);
}

.white-studio {
    color: var(--white-color);
}

.logo {
    color: var(--primary-color);
}

.nav-list {
    list-style: none;
}

.nav-list a {
    color: var(--dark-grey);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 2%;
    text-align: left;
}

.main-information a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

a {
    text-decoration: none;
}

span {
    color: var(--black-color);
}

.first-section {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #fff;
    background-color: var(--black-rock);
    text-align: center;
}

footer {
    background-color: var(--navy-blue);
}

.first-section-button {
    color: var(--white-color);
    background-color: var(--primary-color);
    font-weight: 700;
}

.button-list:focus {
    background-color: var(--primary-color);
}
