body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    letter-spacing: 3%;
    text-align: left;
}

span {
    color: #2196f3;
}
