body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-family: 'Raleway', serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    letter-spacing: 3%;
    text-align: left;
    text-decoration: none;
}

.main-information {
    font-weight: 500;
    font-size: 15px;
}

.black {
    color: #000000;
}

.blue {
    color: #2196f3;
}

.dark-grey {
    color: #212121;
}

.grey {
    color: #757575;
}
